{% extends "layout.jinja2" %}

{% block content %}
<div style="overflow:hidden;">
<div class="card">
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">A Demo for <a href="https://github.com/akhilsadam/AgileX/tree/master">AgileX Modular Documentation</a></p>
  <a href="/dashapp/" class="dash-link">
    <span>workbench</span>
    <i class="fas fa-arrow-right"></i>
  </a>
  <a href="/doc/" class="dash-link">
    <span>readme</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
<div class="card">
  <embed src="/static/Modules/currentTex.pdf#toolbar=0&navpanes=0&scrollbar=0" width=100% style="border: none;height:70vh;"></embed>
</div>
</div>
{% endblock %}