:root {
    /* colors */
    --kotoba: Kiona, Aron Grotesque Light, Montserrat Regular;
    --aijiro: rgba(235, 246, 247, 1);
    --mashiro: rgb(255, 255, 255);
    --zoge-iro: rgb(255, 255, 240);
    --hakushi: rgb(249, 251, 255);
    --mizu-iro: rgb(134, 171, 165);
    --gunjo-iro: rgb(93, 140, 174);
    --sora-iro: rgb(77, 143, 172);
    --chigusa-iro: rgb(49, 117, 137);
    --benimidori: rgb(120, 119, 155);
    --kurobeni: rgb(35, 25, 30);
    --rurikon: rgb(27, 41, 75);
    --rurikon-alph: rgba(27, 41, 75, 0.15);
    --konjo-iro: rgb(0, 49, 113);
    --ao: rgb(0, 0, 255);
    --omeshi-onando: rgb(61, 76, 81);
    --tetsuonando: rgb(43, 55, 54);
    --sakuranezumi: rgb(172, 129, 118);
    --ginshu: rgb(188, 45, 41);
    --azuki-iro: rgb(103, 36, 34);
    --kokushoku: rgb(23, 20, 18);
    --kokushoku-alph: rgba(23, 20, 18, 0.2);
    /* not accurate */
    --aijiro-haiiro: #A0A3A4;
    --haiiro: rgba(91, 90, 92, 0.5);
    --sukaitsuri-iro: rgb(220, 240, 250);
    /* default */
    --nandemonai: rgba(0, 0, 0, 0);
    --shiro: var(--hakushi);
    --kuro: var(--kokushoku);
    --shiro-kotoba: var(--aijiro);
    --kuro-kotoba: var(--kurobeni);
    /* other */
    --boxshade: 1px 5px 1px var(--nandemonai) inset;
    --smallblur: blur(15px) contrast(1.1) brightness(0.5);
    --vblur: blur(10px) brightness(0.8);
    --bkg: url("/static/img/img0.jpg");
    --imgfilt: none;
}

main {
    scrollbar-gutter: stable;
}

body {
    background-color: var(--shiro);
    color: var(--kuro-kotoba);
    font-family: var(--kotoba);
    margin: 0;
    overflow-x: hidden;
}

.pb-20 {
    padding-bottom: 20px;
}

.avance-reculer {
    position: fixed;
    top: 0;
    height: 5px;
    width: 100%;
    background: var(--nandemonai);
}

a:hover {
    opacity: 0.5;
}

.module {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0.5em;
}

.module img {
    height: 40px;
    width: auto;
}

.module p {
    padding: 10px 0px;
}

.module h4,
.module h6 {
    font-family: var(--kotoba);
    margin: 5px 0px 0px 5px;
}

.module a {
    padding: 10px 15px;
    background: var(--nandemonai);
    color: var(--shiro-kotoba);
    text-decoration: none;
    border-radius: 0.35rem;
    border: 1px solid var(--shiro-kotoba);
    ;
    margin: 15px 10px 0px 0px;
}

.main {
    background: var(--nandemonai);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bkgd {
    display: block;
    position: fixed;
    z-index: -100;
    height: 100vh;
    width: 100%;
    background-color: var(--aijiro-haiiro);
    background-image: var(--bkg);
    background-attachment: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: hard-light;
    filter: var(--imgfilt);
    /* filter: hue-rotate(0deg) saturate(1) contrast(1) brightness(1)  invert(0);
  perspective: 800px;
  perspective-origin: 0%;
  transform: translateZ(40px) scale(.90); */
}

.element {
    display: flex;
    flex-direction: column;
    /* box-shadow: var(--boxshade); */
    background-color: transparent;
    overflow-y: hidden;
    border: 1px var(--shiro);
    border-radius: 5px 5px;
}

.element::before {
    border: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    backdrop-filter: var(--smallblur);
}

.version {
    box-shadow: var(--boxshade);
    background-color: var(--shiro);
    backdrop-filter: var(--vblur);
    margin: 0px 0px 0px 0px;
    border-radius: 5px 5px;
    mix-blend-mode: difference;
    color: var(--kuro);
    max-height: 20em;
    overflow-x: auto;
    overflow-y: auto;
}


/* .version::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: var(--bkg), url("/static/img/ame4.gif");
    background-blend-mode: screen;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    filter: invert(1) brightness(0.2) opacity(0.2);
} */

.title {
    background-color: transparent;
    font-variant: uppercase;
    position: sticky;
    top: 5px;
    text-align: right;
    padding-right: 10px;
}

.checkout {
    font-family: var(--kotoba);
    /*font-variant: small-caps;*/
    overflow: hidden;
    margin: none;
}

.module-input,
.module-input-code {
    background-color: transparent;
    margin: 0px 0px 0px 0px;
}

.module-add {
    position: sticky;
    bottom: 0em;
    backdrop-filter: blur(2px);
    background-color: var(--kuro);
    mix-blend-mode: hard-light;
}

#module-new-submit,
#module-new,
#module-pdf {
    color: var(--shiro);
    border: none;
    border-radius: 0% 0%;
    font-family: var(--kotoba);
    -webkit-font-smoothing: auto;
}

#module-new-submit {
    background-color: var(--haiiro-alph);
    backdrop-filter: blur(10px);
}

.module-commit,
.module-save {
    color: var(--shiro);
    font-family: var(--kotoba) !important;
}

.commit-text-div {
    height: 38px;
}

.commit-text-div>textarea {
    resize: none;
    width: inherit;
}

.top {
    position: sticky;
    top: 0em;
    z-index: 6;
    backdrop-filter: blur(40px);
    background: url("/static/img/logo.png");
    background-size: contain;
    background-position: calc(100% - 1em) 0%;
    background-color: #000;
    background-repeat: no-repeat;
    background-blend-mode: difference;
    color: var(--shiro);
    font-family: var(--kotoba);
    font-variant-caps: normal;
    border-radius: 0% 0%;
}

.Select-control {
    background-color: var(--nandemonai);
    border: none;
    color: var(--nandemonai);
}


/* .top-text {}

.name {} */

.logo {
    background-color: var(--ao);
    -webkit-text-stroke: 2px black;
    mix-blend-mode: overlay;
    color: white;
    font-size: 2.6rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
    filter: lighten(0);
}

.logo:hover {
    background-color: var(--nandemonai);
    -webkit-text-stroke: 0.5px var(--ao);
    mix-blend-mode: overlay;
    color: var(--shiro);
    text-decoration: none;
    filter: lighten(1);
}

textarea {
    background-color: var(--nandemonai);
    border: none;
    color: var(--shiro);
}

.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
}

.grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
    /* This is how textarea text behaves */
    white-space: pre-wrap;
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
}

.grow-wrap>textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
    /* Firefox shows scrollbar on growth, you can hide like this. */
    overflow: hidden;
}

.grow-wrap>textarea,
.grow-wrap::after {
    /* Identical styling required!! */
    padding: 0.5rem;
    font: inherit;
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
}

.grow-wrap {
    padding: 0px;
    margin: 0px;
    min-height: 0px;
}

.codefence {
    background: rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(20px);
    /* mix-blend-mode: screen; */
}

.codefence::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    background: url("/static/img/img.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    filter: saturate(1) opacity(0.6) hue-rotate(-45deg) brightness(1.4) invert(1);
}

.CodeMirror,
.CodeMirror-gutters {
    background: var(--nandemonai) !important;
}

.wrap {
    background: inherit;
    backdrop-filter: invert(0);
}


/*
.wrap::before{
overflow:hidden;
border: none;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
z-index: -1;
backdrop-filter: invert(0);
}
*/

.embeds {
    background-color: var(--nandemonai);
    mix-blend-mode: hard-light;
    color: var(--shiro-kotoba);
}


/* svg {
    max-width: 20em;
    filter: contrast(1) brightness(1);
} */


/* .graph-container {
    filter: invert(1);
    text-shadow: 0px 0px 1px black;
} */

@media all and (max-width: 768px) {}